<app-header></app-header>
<body>
	
	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Category PAge</h4>
			<div class="site-pagination">
				<a routerLink="/">Home</a> /
					<a *ngIf="currentArticle.categorieId==1" routerLink="/coeffee">Coeffee</a>
					<a *ngIf="currentArticle.categorieId==2" routerLink="/cake">Cake</a>
					<a *ngIf="currentArticle.categorieId==3" routerLink="/sandwitch"> Sandwich</a>
					<a *ngIf="currentArticle.categorieId==4" routerLink="/drinks">Boissons</a>
					<a *ngIf="currentArticle.categorieId==5" routerLink="/jus">Jus</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- product section -->
	<section class="product-section" >
		<div class="container"   >
			<div class="row" >
				<div class="col-lg-6">
					<div class="product-pic-zoom">
						<img class="product-big-img" src={{currentArticle.imageUrl}} alt="">
					</div>
					<div class="product-thumbs" tabindex="1" style="overflow: hidden; outline: none;">
						<div class="product-thumbs-track">
							<div class="pt active" data-imgbigurl="assets/img/article/15.jpeg"><img src={{currentArticle.imageUrl}} alt=""></div>
							<div class="pt" data-imgbigurl="assets/img/article/15.jpeg"><img src={{currentArticle.imageUrl}} alt=""></div>
						</div>
					</div>
				</div>
				<div class="col-lg-6 product-details"  *ngIf="currentArticle.id" >
					<h2 class="p-title">{{ currentArticle.title }}</h2>
					<h3 class="p-price">{{ currentArticle.prix}}00 TND</h3>
					<h4 class="p-stock">Available: <span>In Stock</span></h4>
					<div class="p-rating">
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o"></i>
						<i class="fa fa-star-o fa-fade"></i>
					</div>
					<div class="p-review">
						<a href="">3 reviews</a>|<a href="">Add your review</a>
					</div>
				
					<div class="quantity">
						<p>Quantity</p>
                        <div class="pro-qty"><input type="text" value="1"></div>
                    </div>
					
					<a class="site-btn" (click)="savePanier()" routerLink="/shop/{{currentArticle.id}}"
					
					>Ajouter au panier</a> 
					<div id="accordion" class="accordion-area">
						<div class="panel">
							<div class="panel-header" id="headingOne">
								<button class="panel-link active" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1">information</button>
							</div>
							<div id="collapse1" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
								<div class="panel-body">
									{{ currentArticle.description }}
								</div>
							</div>
						</div>
					</div>
					<div class="social-sharing">
						<a href=""><i class="fa fa-google-plus"></i></a>
						<a href=""><i class="fa fa-pinterest"></i></a>
						<a href=""><i class="fa fa-facebook"></i></a>
						<a href=""><i class="fa fa-twitter"></i></a>
						<a href=""><i class="fa fa-youtube"></i></a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- product section end -->
<!-- Related product section -->
<section class="related-product-section">
	<div class="container">
		<div class="section-title text-uppercase">
			<h2>Other Products 
			</h2>
		</div>
		<div class="row" >
			<div class="col-lg-3 col-sm-6" *ngFor="let article of article; let i = index">
				<div class="product-item" >
					<div class="pi-pic">
						<img src={{article.imageUrl}} alt="" class="img-fluid"
						style="width:200px ; height:200px"
						routerLink="/articleD/{{article.id }} "
						[class.active]="i == currentIndex"
			(click)="setActiveArticle(article, i)">
						<div class="pi-links">
							<a routerLink="/shop/{{article.id}}" class="add-card"
							[class.active]="i == currentIndex"
				(click)="setActiveArticle(article, i)"><i class="flaticon-bag"></i><span>Ajouter au panier</span></a>
							<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
						</div>
					</div>
					<div class="pi-text">
						<h6>{{article.prix}} TND</h6>
						<p>{{article.title}}</p>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</section>
<!-- Related product section end -->

	
<app-footer></app-footer>


	
	</body>

