<app-header></app-header>
<body>

	<!-- Page info -->
	<div class="page-top-info">
		<div class="container">
			<h4>Your cart</h4>
			<div class="site-pagination">
				<a href="">Home</a> /
				<a href="">Votre Panier</a>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- cart section end -->
	<section class="cart-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-8">
					<div class="cart-table">
						<h3>Votre Panier</h3>
						<div class="cart-table-warp" *ngIf="currentArticle.id">
							<table>
							<thead>
								<tr>
									<th class="product-th">Article</th>
									<th class="quy-th">Quantite</th>
									<th class="total-th">Prix</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td class="product-col">
										<img src={{currentArticle.imageUrl}} alt="">
										<div class="pc-title">
											<h4>{{ currentArticle.title }}</h4>
											<p>{{ currentArticle.prix }}</p>
										</div>
									</td>
									<td class="quy-col">
										<div class="quantity">
					                        <div class="pro-qty">
												<input type="text" value="1">
											</div>
                    					</div>
									</td>
									<td class="total-col"><h4>{{ currentArticle.prix }}</h4></td>
								</tr>
								<tr>
									
							</tbody>
						</table>
						</div>
						<div class="total-cost">
							<h6>Total <span>{{ currentArticle.prix }}</span></h6>
						</div>
					</div>
				</div>
				<div class="col-lg-4 card-right">
					<a routerLink="/checkout/{{currentArticle.id }}" class="site-btn">Proceed to checkout</a>
					<a href="" class="site-btn sb-dark">Continue shopping</a>
				</div>
			</div>
		</div>
	</section>
	<!-- cart section end -->

	<!-- Related product section -->
	<section class="related-product-section">
		<div class="container">
			<div class="section-title text-uppercase">
				<h2>Continue Shopping</h2>
			</div>
			<div class="row" >
				<div class="col-lg-3 col-sm-6" *ngFor="let article of article; let i = index">
					<div class="product-item" >
						<div class="pi-pic">
							<img src={{article.imageUrl}} alt="" class="img-fluid"
							style="width:200px ; height:200px"
							routerLink="/articleD/{{article.id }} "
						[class.active]="i == currentIndex"
			          (click)="setActiveArticle(article, i)">
							<div class="pi-links">
								<a routerLink="/shop/{{article.id}}" class="add-card"
								[class.active]="i == currentIndex"
					(click)="setActiveArticle(article, i)" class="add-card"><i class="flaticon-bag"></i><span>Ajouter au panier</span></a>
								<a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
							</div>
						</div>
						<div class="pi-text">
							<h6>{{article.prix}} TND</h6>
							<p>{{article.title}}</p>
						</div>
					</div>
				</div>
				
			</div>
		</div>
	</section>
	<!-- Related product section end -->
    <app-footer></app-footer>
	</body>
    


