<app-board-admin></app-board-admin>
  <div class="contents">
  <div class="container">
  <div class="row align-items-center justify-content-center">
  <div class="form-block mx-auto">
    <img src="assets/img/arrow-left-circle.svg" class="img-thumbnail" routerLink="/ArticleList">
  <div class="text-center mb-5">
    <h1>  Delete Article</h1>
  </div>

    <div class="col-md-6">
      <div *ngIf="currentArticle.id">
        <div>
          <label><strong>Title:</strong></label> {{ currentArticle.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentArticle.description }}
        </div>
        <div>
          <label><strong>Prix:</strong></label>
          {{ currentArticle.prix}}00 TND
        </div>
        <div *ngIf="currentArticle.categorieId==1">
          <label><strong>Categorie:</strong></label>
          Coeffee
        </div>
        <div *ngIf="currentArticle.categorieId==2">
          <label><strong>Categorie:</strong></label>
          Cake
        </div>
        <div *ngIf="currentArticle.categorieId==3">
          <label><strong>Categorie:</strong></label>
          Sandwich
        </div>
        <div *ngIf="currentArticle.categorieId==4">
          <label><strong>Categorie:</strong></label>
          Drinks
        </div>
        <div *ngIf="currentArticle.categorieId==5">
          <label><strong>Categorie:</strong></label>
          Jus
        </div>
        
    
        <button class="btn btn-danger btn-sm" (click)="deleteArticle()">
          Delete
        </button>
        <div class="alert alert-success" role="alert" *ngIf="isDeleted">
          {{ message }}
        </div>
      </div>
  
      <div *ngIf="!currentArticle">
        <br />
        <p>Please click on a Article...</p>
      </div>
    </div>
  </div>
  </div>
  </div>
  </div>
 
  
  