<app-board-admin></app-board-admin>  
    <div class="contents">
    <div class="container">
    <div class="row align-items-center justify-content-center">
    <div class="form-block mx-auto">
    <div class="text-center mb-5">
    <h3 class="text-uppercase">Users List </h3>
    </div> 
    <div class="card-table">
        <div class="cart-product">
            <table class="table table-responsive">
                <thead>
                    <tr>
                        <th>Sr.No</th>
                        <th>firstname</th>
                        <th>lastname</th>
                        <th>email</th>
                        <th>phone</th>
                        <th>Update</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of user; let i = index" [class.active]="i == currentIndex"
                    (click)="setActiveUser(user, i)">
                        <td>{{i+1}}</td>
                        <td>{{user.firstname}}
                        </td>
                        <td style="width: 25%;">{{user.lastname}}</td>
                        <th style="width: 12%;">{{user.email}}</th>
                        <td style="width: 12%;">{{user.phone}}</td>
                        <td style="width: 12%;">
                          <button class="btn btn-success btn-sm" routerLink="/users/{{ user.id }}">
                            Update
                          </button>
                         
                          <td style="width: 12%;">
                          <button class="btn btn-danger btn-sm" routerLink="/deleteUser/{{ user.id }}">
                            Delete
                          </button>
                          
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6"></td>
                        <td> <button class="m-3 btn btn-sm btn-danger" (click)="removeAllUsers()">
                          Remove All
                        </button>
                        <div class="alert alert-success" role="alert" *ngIf="isDeleted">
                            {{ message }}
                          </div></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
  </div>
  </div>
  </div>
  </div>
  
  

  
