<app-board-admin></app-board-admin>
<div class="position-relative">
  <div class="position-absolute top-0 start-50 translate-middle-x">
<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-primary"
            type="button"
            (click)="searchTitle()"
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Article List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let article of article; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveArticle(article, i)"
        >
          {{ article.title }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" (click)="removeAllArticles()">
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentArticle.id">
        <h4>Article</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentArticle.title }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentArticle.description }}
        </div>
        <div>
          <label><strong>Prix:</strong></label>
          {{ currentArticle.prix}}
        </div>
        <div>
          <label><strong>Categorie:</strong></label>
          {{ currentArticle.categorie}}
        </div>
        
        <a class="badge badge-warning" routerLink="/article/{{ currentArticle.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentArticle">
        <br />
        <p>Please click on a Article...</p>
      </div>
    </div>
  </div>
  
  </div>
  </div>