<app-board-admin></app-board-admin>
<div class="position-relative">
  <div class="position-absolute top-0 start-50 translate-middle-x">
<div>
    <div *ngIf="currentArticle.id" class="edit-form">
      <h4>Article</h4>
      <form>
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            [(ngModel)]="currentArticle.title"
            name="title"
          />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input
            type="text"
            class="form-control"
            id="description"
            [(ngModel)]="currentArticle.description"
            name="description"
          />
        </div>
        <div class="form-group">
            <label for="prix">Prix</label>
            <input
              type="text"
              class="form-control"
              id="prix"
              [(ngModel)]="currentArticle.prix"
              name="prix"
            />
          </div>
      
          <div class="form-group">
            <label for="categorieId">Categorie</label>
          <select class="form-select form-select-lg mb-3" aria-label=".form-select-lg example"
          class="form-control"
              id="categorieId"
              required
              [(ngModel)]="currentArticle.categorieId"
              name="categorieId">
              <option value="1">Coeffee</option>
            <option value="2">Cake</option>
            <option value="3">Sandwitch</option>
            <option value="4">Drinks</option>
            <option value="5">Jus</option>
          </select>
          </div>
  
        
      </form>
  
  
      <button class="btn btn-danger" (click)="deleteArticle()">
        Delete
      </button>
  
      <button
        type="submit"
        class="btn btn-success"
        (click)="updateArticle()"
      >
        Update
      </button>
      <p>{{ message }}</p>
    </div>
  
    <div *ngIf="!currentArticle.id">
      <br />
      <p>Cannot access this Article...</p>
    </div>
  </div>
  </div>
  </div>
